---
layout: products
title: Club Member Dues
description: 
permalink: /dues
head:
  snipcart.html
---
<h2>Club Member Dues</h2>
<h4>
	Dues Paid in Full
</h4>
<div class="dues-portal">
  <div id="wrapper">
      <div id="content">

        <div class="list">

          <div class="product-card">
            <span class="tag">
              <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            </span>
            <h2>KIVIK</h2>
            <h4>ARMCHAIR</h4>
            <figure>
              <img src="https://iconicinteriors.com/images/uploads/products/swan-chairs.jpg" alt="product" />
            </figure>
            
            <span class="price">
              $790
            </span>
            

          </div>

        </div>

      </div>
  </div>
<!--
<div class="table">
<ul>
  
{% for product in site.products %}
  {% if product.type == "dues" %}
  		{% include product.html %}
  {% endif %}
{% endfor %}
  
</ul>
</div>
-->
</div>


<!--

<h3>Donate to PKO!</h3>
<p>Have family or friends in PKO? Love what we do and want to contribute? Than make a donation to Pale Kai Outrigger. Your money will help Pale Kai Outrigger attend races, maintain equipment, and supplement annualy costs required to keep our club alive.</p>
<div class="row">

{% for product in site.products %}
  {% if product.type == "donation" %}
  		{% include product.html %}
  {% endif %}
{% endfor %}
</div>
-->