<p>The following waivers and are required to join Pale Kai's Alumi Paddling Program. Please review supporting documentation as well.</p>
<ul class="actions">
<li>
<a href="/assets/docs/PKO-Alumni-Paddling-Program-Policy.pdf" class="button small">PKO Alumni Program Policy</a>
</li>
<li>
<a href="/assets/docs/PKO-Safety-Policy.pdf" class="button small">PKO Safety Policy</a>
</li>
<li>
<a href="/assets/docs/PKO-Code-of-Conduct-Policy.pdf" class="button small">Code of Conduct</a>
</li>
<li>
<a href="/assets/docs/PKO-Paddling-Manual.doc" class="button small">Paddling Manual</a>
</li>
<li>
<a href="/assets/docs/PKO-By-Laws.doc" class="button small">PKO ByLaws</a>
</li>
<li>
<a href="/assets/docs/PKO-Alumni-Prog-FAQ.pdf" class="button small">PKO Alumni Program FAQs</a>
</li>
</ul>