<h3>February – March</h3>
<ul>
<li>Winter pre-season and recruitment programs in Morro Bay at Coleman Park.</li>
<li>PKO members/alumni practice on Saturdays 8 am.</li>
<li>Novice training on Sundays 8 am &amp; 10 am.</li>
</ul>



<h3>March – April</h3>
<ul>
<li>Race training in Avila Beach</li>

<li>Practices are 3 days per week (2 weekday evenings + 1 weekend morning)
</li>
</ul>
<h3>
May – June</h3>
<ul>
<li>
Southern California Outrigger Racing Association (SCORA) Iron race season
</li>
<li>
Practices continue 3 days per week, with the exception of race weekends.
</li>
<li>
SCORA race schedule is available at www.socaloutrigger.org
</li>
</ul>

<h3>July – September</h3>
<ul>
<li>SCORA sprint and 9-man race season</li>
<li>
Practices continue 3 days per week, with the exception of race weekends.
</li>
<li>
SCORA race schedule is available at www.socaloutrigger.org
</li>
<li>
PKO may attend a few Northern California Outrigger Canoe Association (NCOCA) races.
</li>
<li>
NCOCA race schedule is available at www.ncoca.com

</li>
</ul>

<h3>September – October</h3>
<ul>
<li> Off-season in Avila Beach.
</li>
<li>
Practices continue 3 days per week, until daylight hours become too short for weekday practice.
</li>
</ul>
<h3>October – November</h3>
<ul>
	<li> Recruitment season in Avila Beach.
	</li>
	<li>
	Team Building Events
	</li>
</ul>
<h3>November – December</h3>

<ul>
	<li> Off-season continues in Avila Beach.</li>

	<li>Practice on Saturdays.</li>
	<li>
	PKO current members by weekly sign up only.
	</li>
	<li>
	PKO Alumni, or visiting paddlers must be cleared by PKO Board and pay a seat-fee.
	</li>
</ul>
<h3>Year Round
</h3>
<ul>
	<li>
	Board meetings and General Membership Meetings
	</li>
	<li>
	Board members meet every third Tuesday of the month.
	</li>
	<li>
	General Membership Meetings occur 3-4 times per year. Participation is strongly encouraged.
	</li>
	<li>
	Board elections occur in November.
	</li>
</ul>