<!-- Contact -->
<section id="contact" {% if page.layout == "home" %} class="home" {% endif %}>
	
	<div class="inner">
		<section>
			{% if page.title == "Recruitment Registration" %}
				<img src="/assets/images/outrigger-race-1.jpg" class="image fit">
			{% else %}
			<h3>Newsletter</h3>

				{% include newsletter-form.html %}
			{% endif %}
		</section>
       
		<section class="split">
			
				<!-- Doesn't work anymore 
				<a href="{{ site.instagram_url }}" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a>
				<div class="instagram-module">	
					<div id="instafeed"></div>
					<a href="http://instagram.com/palekaioutrigger" class="button small">Follow Us</a>
				</div>
			  -->
			  <!-- free widget from https://apps.elfsight.com/, linked to Lauren Barker facebook account --> 
              <!-- As of 10/30/2021, the following widget is no longer working... Disabling until I figure something out...
              Actually, to be honest, I'm not really sure what the widget did to begin with...
			  <script src="https://apps.elfsight.com/p/platform.js" defer></script>
				<div class="elfsight-app-f2b37ea2-51f2-421e-a71e-a0d10379d06f"></div>
              -->
			
		</section>
	</div>
</section>

<!-- Footer -->
<footer id="footer" {% if page.layout == "home" %} class="home" {% endif %}>
	<div class="inner">
		<p class="description">Pale Kai Outrigger is a non-profit outrigger canoe club located in Avila Beach, California near the city of San Luis Obispo, and is a member of the Southern California Outrigger Racing Association (SCORA). We offer competitive Hawaiian style outrigger canoe racing for men and women right here on the beautiful central coast waters of California.</p>
		<ul class="icons">
			{% if site.twitter_url %}
			<li><a href="{{ site.twitter_url }}" class="icon alt fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
			{% endif %}
			{% if site.googleplus_url %}
			<li><a href="{{ site.googleplus_url }}" class="icon alt fa-google-plus" target="_blank"><span class="label">Google+</span></a></li>
			{% endif %}
			{% if site.facebook_url %}
			<li><a href="{{ site.facebook_url }}" class="icon alt fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
			{% endif %}
			{% if site.instagram_url %}
			<li><a href="{{ site.instagram_url }}" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
			{% endif %}
			{% if site.pinterest_url %}
			<li><a href="{{ site.pinterest_url }}" class="icon alt fa-pinterest" target="_blank"><span class="label">Pinterest</span></a></li>
			{% endif %}
			{% if site.500px_url %}
			<li><a href="{{ site.500px_url }}" class="icon alt fa-500px" target="_blank"><span class="label">500px</span></a></li>
			{% endif %}
			{% if site.gitlab_url %}
			<li><a href="{{ site.gitlab_url }}" class="icon alt fa-gitlab" target="_blank"><span class="label">GitLab</span></a></li>
			{% endif %}
			{% if site.github_url %}
			<li><a href="{{ site.github_url }}" class="icon alt fa-github" target="_blank"><span class="label">GitHub</span></a></li>
			{% endif %}
			{% if site.slack_url %}
			<li><a href="{{ site.slack_url }}" class="icon alt fa-slack" target="_blank"><span class="label">Slack</span></a></li>
			{% endif %}
			{% if site.linkedin_url %}
			<li><a href="{{ site.linkedin_url }}" class="icon alt fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
			{% endif %}
			{% if site.youtube_url %}
			<li><a href="{{ site.youtube_url }}" class="icon alt fa-youtube" target="_blank"><span class="label">YouTube</span></a></li>
			{% endif %}
		</ul>
		<div class="clearfix"></div>

	</div>
</footer>
<div id="subfooter">
	<div class="inner">
		<ul class="copyright">
			<li>&copy; {{ site.year }} {{ site.title }} {{ site.subtitle }}. All rights reserved.</li>
			<li>View the source code on <a href="https://github.com/lbarker/palekai.org" target="_blank">GitHub</a></li>
		</ul>
	</div>
</footer>
	
<script>
// CSS3 animated & responsive dropdown menu
// Latest version: https://github.com/catalinred/Animenu

(function(){
  var animenuToggle = document.querySelector('.animenu__toggle'),
      animenuNav    = document.querySelector('.animenu__nav'),
      hasClass = function( elem, className ) {
        return new RegExp( ' ' + className + ' ' ).test( ' ' + elem.className + ' ' );
      },
      toggleClass = function( elem, className ) {
        var newClass = ' ' + elem.className.replace( /[\t\r\n]/g, ' ' ) + ' ';
        if( hasClass(elem, className ) ) {
          while( newClass.indexOf( ' ' + className + ' ' ) >= 0 ) {
            newClass = newClass.replace( ' ' + className + ' ' , ' ' );
          }
          elem.className = newClass.replace( /^\s+|\s+$/g, '' );
        } else {
          elem.className += ' ' + className;
        }
      },           
      animenuToggleNav =  function (){        
        toggleClass(animenuToggle, "animenu__toggle--active");
        toggleClass(animenuNav, "animenu__nav--open");        
      }

  if (!animenuToggle.addEventListener) {
      animenuToggle.attachEvent("onclick", animenuToggleNav);
  }
  else {
      animenuToggle.addEventListener('click', animenuToggleNav);
  }
})()      
</script>
<!-- INSTAGRAMP -->
	<script>
	// InstaFeed
	var userFeed = new Instafeed({
	    get: 'user',
	    userId: '1799013733',
	    accessToken: '1799013733.1677ed0.3a50c2e860944ac0808708d418e3b0e0',
	    limit: '9',
	});
	userFeed.run();
	</script>

	<!-- GOOGLE ANALYTICS -->
    <!-- Upgrading to new tag
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90656286-1', 'auto');
  ga('send', 'pageview');

	</script>
    -->
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-90656286-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-90656286-1');
    </script>
