<!-- Contact -->
<section id="contact" {% if page.layout == "home" %} class="home" {% endif %}>
	
	<div class="inner">
		<section>
			{% if page.title == "Recruitment Registration" %}
				<img src="/assets/images/outrigger-race-1.jpg" class="image fit">
			{% else %}
			<h3>Newsletter</h3>

				{% include newsletter-form.html %}
			{% endif %}
		</section>
		<section class="split">
			
			<section>
				<div class="contact-method">
					<a href="{{ site.instagram_url }}" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a>
					<div class="instagram-module">	
						<div id="instafeed"></div>
						<a href="http://instagram.com/palekaioutrigger" class="button small">Follow Us</a>
					</div>
				</div>
			</section>
			
		</section>
	</div>
</section>

<!-- Footer -->
	<footer id="footer" {% if page.layout == "home" %} class="home" {% endif %}>
		<div class="inner">
			<ul class="icons">
				{% if site.twitter_url %}
				<li><a href="{{ site.twitter_url }}" class="icon alt fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
				{% endif %}
				{% if site.googleplus_url %}
				<li><a href="{{ site.googleplus_url }}" class="icon alt fa-google-plus" target="_blank"><span class="label">Google+</span></a></li>
				{% endif %}
				{% if site.facebook_url %}
				<li><a href="{{ site.facebook_url }}" class="icon alt fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
				{% endif %}
				{% if site.instagram_url %}
				<li><a href="{{ site.instagram_url }}" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
				{% endif %}
				{% if site.pinterest_url %}
				<li><a href="{{ site.pinterest_url }}" class="icon alt fa-pinterest" target="_blank"><span class="label">Pinterest</span></a></li>
				{% endif %}
				{% if site.500px_url %}
				<li><a href="{{ site.500px_url }}" class="icon alt fa-500px" target="_blank"><span class="label">500px</span></a></li>
				{% endif %}
				{% if site.gitlab_url %}
				<li><a href="{{ site.gitlab_url }}" class="icon alt fa-gitlab" target="_blank"><span class="label">GitLab</span></a></li>
				{% endif %}
				{% if site.github_url %}
				<li><a href="{{ site.github_url }}" class="icon alt fa-github" target="_blank"><span class="label">GitHub</span></a></li>
				{% endif %}
				{% if site.slack_url %}
				<li><a href="{{ site.slack_url }}" class="icon alt fa-slack" target="_blank"><span class="label">Slack</span></a></li>
				{% endif %}
				{% if site.linkedin_url %}
				<li><a href="{{ site.linkedin_url }}" class="icon alt fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
				{% endif %}
				{% if site.youtube_url %}
				<li><a href="{{ site.youtube_url }}" class="icon alt fa-youtube" target="_blank"><span class="label">YouTube</span></a></li>
				{% endif %}
			</ul>
			<ul class="copyright">
				<li><a href="/Recruitment-Registration">Recruit Registration Form</a></li>
				<li>&copy; {{ site.title }} {{ site.subtitle }}</li>
				<li>View the source code on <a href="" target="_blank">GitHub</a></li>
			</ul>
		</div>
	</footer>

	
<!-- Scripts -->
	<script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
	<script src="{{ "assets/js/main.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/instafeed.js" | absolute_url }}"></script>
	<script>
	// InstaFeed
	var userFeed = new Instafeed({
	    get: 'user',
	    userId: '1799013733',
	    accessToken: '1799013733.1677ed0.3a50c2e860944ac0808708d418e3b0e0',
	    limit: '9',
	});
	userFeed.run();
	</script>

