<head>
	<title>{{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/html5shiv.js" | absolute_url }}"></script><![endif]-->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800|Righteous" rel="stylesheet">
	<link rel="stylesheet" href="{{ "assets/css/main.css" | absolute_url }}" />
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "assets/css/ie9.css" | absolute_url }}" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "assets/css/ie8.css" | absolute_url }}" /><![endif]-->
	<link rel="shortcut icon" type="image/x-icon" href="{{ "assets/images/favicon.ico?" | absolute_url }}">
	<!-- Scripts -->
	<script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
	<script src="{{ "assets/js/main.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/instafeed.js" | absolute_url }}"></script>
		

	{% for script in layout.head %}
    	{% include {{ script }} %}
  	{% endfor %}
	 <!-- SNIP CART -->

</head>
