<head>
	<title>{{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/html5shiv.js" | absolute_url }}"></script><![endif]-->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800|Anton:400" rel="stylesheet">
	<link rel="stylesheet" href="{{ "assets/css/main.css" | absolute_url }}" />
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "assets/css/ie9.css" | absolute_url }}" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "assets/css/ie8.css" | absolute_url }}" /><![endif]-->
	<link rel="shortcut icon" type="image/x-icon" href="{{ "assets/images/favicon.ico?" | absolute_url }}">
	<!-- Scripts -->
	<script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
	<script src="{{ "assets/js/main.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/instafeed.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/menu.js" | absolute_url }}"></script>
	<!-- Facebook Pixel Code -->
	<script>
	  !function(f,b,e,v,n,t,s)
	  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	  n.queue=[];t=b.createElement(e);t.async=!0;
	  t.src=v;s=b.getElementsByTagName(e)[0];
	  s.parentNode.insertBefore(t,s)}(window, document,'script',
	  'https://connect.facebook.net/en_US/fbevents.js');
	  fbq('init', '1511823292162142');
	  fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
	  src="https://www.facebook.com/tr?id=1511823292162142&ev=PageView&noscript=1"
	/></noscript>
<!-- End Facebook Pixel Code -->

	{% for script in layout.head %}
    	{% include {{ script }} %}
  	{% endfor %}
	 <!-- SNIP CART -->
     
<!-- Facebook Open Graph -->
    {% seo %} 
<!-- End Facebook Open Graph -->

</head>
