<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" or  page.layout == "alt style2" %} class="alt"{% endif %}>
	<a href="{{ "" | absolute_url }}" class="logo"><img src="/assets/images/pko-logo-rectangle.svg" alt="Pale Kai Outrigger Canoe Club"></a>
	
	<nav id="menu-toggle">
		<a href="#menu">Menu</a>
	</nav>

	<nav id="menu-dropdown">
		{% include navigation.html %}
	</nav>
</header>

<nav id="menu">
	{% include navigation.html %}
</nav>

