<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" or  page.layout == "alt style2" %} class="alt"{% endif %}>
	<a href="{{ "" | absolute_url }}" class="logo"><img src="/assets/images/logo-bw.png" alt="Pale Kai Outrigger Canoe Club"></a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
        <li><a href="/race-schedule/">2017 Race Schedule</a></li>
		<li><a href="/membership/">Membership Dues and Waivers</a></li>
		<li><a href="/blog/">PKO Announcements</a></li>
		<li><a href="/sponsorhip/">Sponsorship</a></li>
		<li><a href="/contact/">Contact</a></li>
	</ul>
	<ul class="actions vertical">
		<li><a href="/joinus" class="button special fit">Join Us</a></li>
	</ul>
</nav>