<header class="morph-dropdown">
		<a href="#0" class="nav-trigger">Open Nav<span class="nav-trigger-bar" aria-hidden="true"></span></a>

		<nav class="main-nav">
			<ul>
				<li class="has-dropdown gallery" data-content="about">
					<a href="#0" tabindex="1">About</a>
				</li>

				<li class="has-dropdown links" data-content="pricing">
					<a href="#0" tabindex="6">Pricing</a>
				</li>

				<li class="has-dropdown button" data-content="contact">
					<a href="#0" tabindex="23">Contact</a>
				</li>
			</ul>
		</nav>

		<div class="morph-dropdown-wrapper">
			<div class="dropdown-list">
				<ul>
					<li id="about" class="dropdown gallery">
						<a href="#0" class="label">About</a>

						<div class="content">
							<ul>
								<li>
									<a href="#0" tabindex="2">
										<strong>Title here</strong>
										<span>A brief description here</span>
									</a>
								</li>

								<li>
									<a href="#0" tabindex="3">
										<strong>Title here</strong>
										<span>A brief description here</span>
									</a>
								</li>

								<li>
									<a href="#0" tabindex="4">
										<strong>Title here</strong>
										<span>A brief description here</span>
									</a>
								</li>

								<li>
									<a href="#0" tabindex="5">
										<strong>Title here</strong>
										<span>A brief description here</span>
									</a>
								</li>
							</ul>
						</div>
					</li>

					<li id="pricing" class="dropdown links">
						<a href="#0" class="label">Pricing</a>

						<div class="content">
							<ul>
								<li>
									<h2>Services</h2>

									<ul class="links-list">
										<li><a href="#0" tabindex="7">Logo Design</a></li>
										<li><a href="#0" tabindex="8">Branding</a></li>
										<li><a href="#0" tabindex="9">Web Design</a></li>
										<li><a href="#0" tabindex="10">iOS</a></li>
										<li><a href="#0" tabindex="11">Android</a></li>
										<li><a href="#0" tabindex="12">HTML/CSS/JS</a></li>
										<li><a href="#0" tabindex="13">Packaging</a></li>
										<li><a href="#0" tabindex="14">Mobile</a></li>
										<li><a href="#0" tabindex="15">UI/UX</a></li>
										<li><a href="#0" tabindex="16">Prototyping</a></li>
									</ul>
								</li>

								<li>
									<h2>Projects</h2>

									<ul class="links-list">
										<li><a href="#0" tabindex="17">Logo Design</a></li>
										<li><a href="#0" tabindex="18">Branding</a></li>
										<li><a href="#0" tabindex="19">Web Design</a></li>
										<li><a href="#0" tabindex="20">iOS</a></li>
										<li><a href="#0" tabindex="21">Android</a></li>
										<li><a href="#0" tabindex="22">HTML/CSS/JS</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</li>

					<li id="contact" class="dropdown gallery">
						<a href="#0" class="label">Contact</a>

						<div class="content">
							<ul>
								<li>
									<a href="#0" tabindex="24">
										<strong>Title here</strong>
										<span>A brief description here</span>
									</a>
								</li>

								<li>
									<a href="#0" tabindex="25">
										<strong>Title here</strong>
										<span>A brief description here</span>
									</a>
								</li>

								<li>
									<a href="#0" tabindex="26">
										<strong>Title here</strong>
										<span>A brief description here</span>
									</a>
								</li>

								<li>
									<a href="#0" tabindex="27">
										<strong>Title here</strong>
										<span>A brief description here</span>
									</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>

				<div class="bg-layer" aria-hidden="true"></div>
			</div> <!-- dropdown-list -->
		</div> <!-- morph-dropdown-wrapper -->
	</header>
