{% assign loopindex = forloop.index | modulo: 2 %}

<li>
  <div class="top">
    <h1>{{ product.name }}</h1>
    <div class="circle">{{ product.price }}</div>
  </div>
  <div class="bottom">
    <p>{{ product.content }}</p>
  
    <div class="sign">
    <button class="snipcart-add-item"
      data-item-name="{{ product.name }}"
      data-item-id="{{ product.sku }}"
      data-item-image="{{ product.image }}"
      data-item-url="{{ site.url }}"
      data-item-price="{{ product.price }}">
     Add to Cart {{ product.price }} $
    </button>
    </div>
  </div>
</li>
