{% assign loopindex = forloop.index | modulo: 2 %}

<div class="product-card">
	<span class="tag">
			<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
	</span>
	<h2>{{ product.name }}</h2>
	<p>{{ product.content }}</p>
	<figure>
			<img src="{{ product.image }}" alt="{{ product.name }}" />
	</figure>
	<button class="snipcart-add-item special"
		data-item-name="{{ product.name }}"
		data-item-id="{{ product.sku }}"
		data-item-image="{{ product.image }}"
		data-item-url="{{ site.url }}/dues"
		data-item-price="{{ product.price }}">
     	Add to Cart
    </button>
	<span class="price">
	${{ product.price }}
	</span>
</div>