<div class="table-wrapper">
	<table class="alt">
	<thead>
	<tr>
	<th>Race Date</th>
	<th>Race</th>
	<th>Location</th>
	<th>Host</th>

	</tr>
	</thead>
	<tbody>

	<tr>
	<td>May 13</td>
	<td>Crystal Pie</td>
	<td>San Diego, CA</td>
	<td>Hanohano OCC</td>
	</tr>
	<tr>
	<td>May 20</td>
	<td>Rig Run</td>
	<td>Santa Barbara, CA</td>
	<td>Ka Nai’a OCC</td>
	</tr>
	<tr>
	<td>June 3</td>
	<td>Kahanamoku Klassic</td>
	<td>Marina del Rey, CA</td>
	<td>Marina del Rey OCC</td>
	</tr>
	<tr>
	<td>June 10</td>
	<td>Ventura Outrigger Challenge</td>
	<td>Ventura, CA</td>
	<td>Hokuloa OCC</td>
	</tr>
	<tr>
	<td>June 24	Iron Outrigger</td>
	<td>Championships</td>
	<td>San Diego, CA</td>
	<td>Kai Elua OCC</td>
	</tr>
	</tbody>
	</table>
</div>