<div class="table-wrapper">
	<table class="alt">
	<thead>
	<tr>
	<th>Race Date</th>
	<th>Race</th>
	<th>Location</th>
	<th>Host</th>
	<th>Association</th>

	</tr>
	</thead>
	<tbody>

	<tr>
	<td>May 13</td>
	<td>Crystal Pier</td>
	<td>San Diego, CA</td>
	<td><a href="http://www.hanohano.com/">Hanohano OCC</a></td>
	<td><a href="http://www.scora.org/race-schedule/">SCORA</a></td>
	</tr>
	<tr>
	<td>May 20</td>
	<td>Rig Run</td>
	<td>Santa Barbara, CA</td>
	<td><a href="http://www.kanaia.com/">Ka Nai’a OCC</a></td>
	<td><a href="http://www.scora.org/race-schedule/">SCORA</a></td>
	</tr>
	<tr>
	<td>June 3</td>
	<td>Kahanamoku Klassic</td>
	<td>Marina del Rey, CA</td>
	<td><a href="http://www.gomarinaoutrigger.org/">Marina del Rey OCC</a></td>
	<td><a href="http://www.scora.org/race-schedule/">SCORA</a></td>
	</tr>
	<tr>
	<td>June 10</td>
	<td>Ventura Outrigger Challenge</td>
	<td>Ventura, CA</td>
	<td><a href="http://www.hokuloaoutrigger.com/">Hokuloa OCC</a></td>
	<td><a href="http://www.scora.org/race-schedule/">SCORA</a></td>
	</tr>
	<tr>
	<td>June 24</td>
	<td>Iron Outrigger Championships</td>
	<td>San Diego, CA</td>
	<td><a href="http://kaieluaoutrigger.com/">Kai Elua OCC</a></td>
	<td><a href="http://www.scora.org/race-schedule/">SCORA</a></td>
	</tr>
	<tr>
	<td>July 22</td>
	<td>State Sprint Championship</td>
	<td>Santa Barbara, CA</td>
	<td><a href="http://www.sbocc.org/">Santa Barbara OCC</a></td>
	<td><a href="http://www.scora.org/race-schedule/">SCORA</a></td>
	</tr>
	<tr>
		<td>August 5</td>
		<td>Whitey Harrison 9-man</td>
		<td>Dana Point, CA</td>
		<td><a href="http://www.danaoutrigger.net/">Dana OCC</a></td>
		<td><a href="http://www.scora.org/race-schedule/">SCORA</a></td>
	</tr>
	<tr  class="mute">
		<td>August 5</td>
		<td>'Round the Rock</td>
		<td>San Francisco, CA</td>
		<td><a href="http://heenaluocc.org/">He'e Nalu O Marin</a></td>
		<td><a href="http://www.ncoca.com/">NCOCA</a></td>
	</tr>
	<tr class="mute">
	<td>August 12</td>
	<td>Zongo Cup</td>
	<td>Morro Bay &amp; Avila Beach, CA</td>
	<td>Morro Bay Yacht Club</td>
	<td></td>

	</tr>
	<tr>
	<td>August 19</td>
	<td>Oceanside 9-man</td>
	<td>Oceanside, CA</td>
	<td><a href="https://oceansideoutrigger.org/">Oceanside OCC</a></td>
	<td><a href="http://www.scora.org/race-schedule/">SCORA</a></td>

	</tr>
	<tr>
	<td>September 9-10</td>
	<td>Catalina Crossing – US Championships</td>
	<td>Newport Beach &amp; Avalon, CA</td>
	<td><a href="http://www.catalinacrossing.org/">SCORA &amp; Offshore</a></td>
	<td><a href="http://www.scora.org/race-schedule/">SCORA</a></td>
	</tr>
	<tr class="mute">
	<td>September 30</td>
	<td>Monteray Bay Crossing</td>
	<td>Santa Cruz, CA</td>
	<td><a href="http://outriggersantacruz.org/">Outrigger Santa Cruz</a></td>
	<td><a href="http://www.ncoca.com/">NCOCA</a></td>
	</tr>
	</tbody>
	</table>
</div>