<section id="one" class="tiles">
<!--
    This first "article" is an announcement that annual registration is open. It's hard-coded here to force it to 
    the top of the tiles. Comment it out when registration closes.

	<article>
          <span class="image">
                  <img src="assets/images/don-posting.jpg" alt="PKO steerman posting" />
          </span>
          <header class="major">
                  <h3><a href="/members/registration/" class="link">Annual Member Registration</a></h3>
                  <p>Registration for the new season is now open!
                  Click here to begin the registration process for this year's paddling season.</p>
          </header>
  </article>
-->

<!--
    This second article is a link to our fundraising page. Uncomment it to force a fundraising tile. Note that this may be
    unnecessary since the fundraising page is now a "featured" page, which forces a tile.
-->
 <!--
	<article>
          <span class="image">
                  <img src="assets/images/pecho-rock-race-facebook-event-v1.jpg" alt="Pecho Rock Race" />
          </span>
          <header class="major">
                  <h3><a href="/sponsorship/" class="link">Sponsorship</a></h3>
                  <p>As a non-profit organization, Pale Kai Outrigger Canoe Club relies on sponsorships and the tax-deductible donations of community friends, family, and supporters.

Donate Now.</p>
          </header>
  </article>
-->

<!--
	These next few tiles (limited by limit:site.tiles-count-news) are headlines from news articles.
-->

	{% for post in site.posts limit:site.tiles-count-news %}
		
			{% if site.tiles-source-news == 'posts'%}
		        <article>
					<!-- can we Expire posts? -->						
		                <span class="image">
		                        <img src="{{ post.image }}" alt="" />
		                </span>
                        <!-- The following is just a clunky way of linking Demo Days posts directly to the joinus page -->
                        {% if post.title == "Pale Kai Demo Days" %}
		                <header class="major">
		                        <h3><a href="/joinus/" class="link">{{ post.title }}</a></h3>
		                        <p>{{ post.description }}</p>
		                </header>
                        {% else %}
		                <header class="major">
		                        <h3><a href="{{ post.url  | relative_url }}" class="link">{{ post.title }}</a></h3>
		                        <p>{{ post.description }}</p>
		                </header>
                        {% endif %}
		        </article>
			{% endif %}
	{% endfor %}
  
    <!-- Corrected code manually counts tiles as we generate them and breaks out of the loop when we're done -->
    
	{% if site.tiles-source == 'pages'%}
        {% assign page_tiles = 0 %}
        {% for page in site.pages %}
            {% if page.feature %}
                {% assign page_tiles = page_tiles | plus: 1 %}
		        <article>
                    <span class="image">
                        <img src="{{ page.image }}" alt="" />
                    </span>
                    <header class="major">
                        <h3><a href="{{ page.url  | relative_url }}" class="link">{{ page.title }}</a></h3>
                        <p>{{ page.description }}</p>
                    </header>
		        </article>		
            {% endif %}
            {% if page_tiles >= site.tiles-count %}
                {% break %}
            {% endif %}
        {% endfor %}
    {% endif %}
	
</section>
