<section id="one" class="tiles">
	<article>
          <span class="image">
                  <img src="assets/images/2019-recruitment-background.jpg" alt="" />
          </span>
          <header class="major">
                  <h3><a href="/recruitment-program/" class="link"> 2019 Recruitment Program</a></h3>
                  <p>Information about our recruitment program and joining Pale Kai Outrigger for the 2019 race season.</p>
          </header>
  </article>

	 
	{% for post in site.posts limit:site.tiles-count-news %}
		
			{% if site.tiles-source-news == 'posts'%}
		        <article>
		                <span class="image">
		                        <img src="{{ post.image }}" alt="" />
		                </span>
		                <header class="major">
		                        <h3><a href="{{ post.url  | relative_url }}" class="link">{{ post.title }}</a></h3>
		                        <p>{{ post.description }}</p>
		                </header>
		        </article>
			{% endif %}
	{% endfor %}

	{% for page in site.pages limit:site.tiles-count %}
		{% if site.tiles-source == 'pages'%}

				{% if page.feature %}

		        <article>
		                <span class="image">
		                        <img src="{{ page.image }}" alt="" />
		                </span>
		                <header class="major">
		                        <h3><a href="{{ page.url  | relative_url }}" class="link">{{ page.title }}</a></h3>
		                        <p>{{ page.description }}</p>
		                </header>
		        </article>		        {% endif %}

			
		{% endif %}

	{% endfor %}
	
</section>
