<p>The following waivers and are required to join Pale Kai. Please review supporting documentation as well.</p>
<ul class="actions">
<li>
<a href="/assets/docs/2017-SCORA-Waiver.pdf" class="button small">SCORA 2017 Liability Waiver</a>
</li>
<li>
<a href="/assets/docs/PKO-Safety-Policy.pdf" class="button small">PKO Safety Policy</a>
</li>
<li>
<a href="/assets/docs/PKO-By-Laws.doc" class="button small">PKO ByLaws</a>
</li>
<li>
<a href="/assets/docs/PKO-Membership-Policy.pdf" class="button small">PKO Membership and Dues Policy</a>
</li>
<li>
<a href="/assets/docs/PKO-Paddling-Manual.doc" class="button small">Paddling Manual</a>
</li>
</ul>